<html lang="vn">
    <head>
        <title>Hôm nay ăn gì?</title>
    </head>
    <body>
        <div class="header">
            <h3>Menu</h3>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="{% url 'category' %}">Tất cả thể loại</a></li>
                <li><a href="{% url 'allDishes' %}">Tất cả món ăn</a></li>
            </ul>
        </div>
        <div class="content">
            {% block login %}
            {% endblock %}
            {% block dish %}
            {% endblock %}
            {% block category %}
            {% endblock %}
        </div>
    </body>
</html>